flask
streamlit
pandas
numpy
joblib
requests
scikit-learn
shap
requests
scipy
python-dateutil
plotly
openpyxl
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.0
google-api-python-client==2.97.0
